$main-color: #00f;
$height-body: 3000px;
$transition: 0.3s;
$back-white: #fff;
$color-white: #222;
$back-t-white: #eee;
$background-hover-white: #0044c2;
$background-after: #0059ff;
$background-button-hover: #00379e;

$radius: 50%;
$absolute-position: absolute;
$relative-position: relative;
