@use "./../helpers/variables" as vars;

.btns-lang {
  position: absolute;
  left: -35px;
  display: grid;
  button {
    background-color: vars.$background-after;
    color: white;
    margin-bottom: 5px;
    padding: 5px;
    font-size: 12px;
    border: none;
    border-radius: 10px;
    transition: vars.$transition;
    &:hover {
      background-color: vars.$background-button-hover;
    }
  }
}
