/* :root { */
  /* font-family: system-ui, Avenir, Helvetica, Arial, sans-serif; */
  /* line-height: 1.5;
  font-weight: 400; */

  /* color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424; */
/* 
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; */
/* } */

/* * {
  margin: 0;
  padding: 0;
} */

:root {
  --bg-color: #fff;
  --text-color: #333;
  --primary-color: #6200ee;
  --secondary-color: #03dac6;
}

[data-theme="dark"] {
  --bg-color: #121212;
  --text-color: #f5f5f5;
  --primary-color: #bb86fc;
  --secondary-color: #03dace;
}

body {
  background-color: var(--bg-color);
  color: var(--text-color);
  transition: 0.3s;
}